<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Verifikasi OTP</title>
  <style>
    form {
            width: 300px;
            margin: 0 auto;
            text-align: center;
          }

    label {
            display: block;
            margin-bottom: 10px;
            font-size: 16px;
          }

    input[type="text"] {
            width: 50%;
            height: 35px;
            padding: 0 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 3px;
          }

    input[type="submit"] {
            width: 30%;
            height: 35px;
            font-size: 16px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 3px;
            cursor: pointer;
          }

  </style>
</head>
<body>
  <h1>Verifikasi OTP</h1>
  <p>Kami telah mengirimkan kode OTP verifikasi ke nomor telepon Anda. Masukkan kode di bawah ini untuk menyelesaikan proses verifikasi.</p>

  <form action="/otp-confirmation" method="POST">
    <label for="otp">Kode OTP: {{otp_code}}</label><br>
    <input type="text" id="otp" name="otp" required><br>
    <input type="submit" value="Verifikasi">
  </form> 
</body>
</html>
